# AUTO-GENERATED — do not edit manually.
# Regenerate with: npx tsx scripts/merge-openapi.ts
openapi: 3.0.3
info:
  title: HotData API
  description: Powerful data platform API for datasets, queries, and analytics.
  version: 1.0.0
servers:
  - url: https://app.hotdata.dev
    description: Production
tags:
  - name: Workspaces
    description: Workspace management
  - name: Query
    description: >-
      Execute SQL queries against connected data sources. Use standard Postgres-compatible SQL syntax to query and join
      across multiple connections and datasets. Results are returned inline and also persisted asynchronously for later
      retrieval.
  - name: Connections
    description: >-
      Manage connections to remote databases (Postgres, MySQL, Snowflake, BigQuery, DuckDB, Iceberg, etc.). Creating a
      connection registers the source and triggers automatic schema discovery. Each connection's tables are cached
      locally for fast query performance.
  - name: Refresh
    description: >-
      Refresh schema metadata and table data for connections. Schema refresh re-discovers tables and column definitions
      from the remote source. Data refresh re-syncs cached data with the latest from the remote tables.
  - name: Information Schema
    description: >-
      Inspect table and column metadata across all connections. Returns schema information including column names, data
      types, and sync status for every discovered table.
  - name: Secrets
    description: >-
      Store and manage credentials used by connections. Secrets are encrypted at rest and referenced by connections for
      authentication. Secret values are never returned by the API — only metadata (name, timestamps) is exposed.
  - name: Results
    description: >-
      Retrieve persisted query results. Every query execution persists its results asynchronously. Results transition
      through statuses: processing → ready (or failed). Once ready, the full result data can be retrieved by ID.
  - name: Query Runs
    description: >-
      View the history of executed queries. Each query run records the SQL text, execution time, result reference, and
      status. Useful for auditing and debugging query performance.
  - name: Uploads
    description: >-
      Upload files (CSV, JSON, Parquet) that can be used as sources for datasets. Files are stored temporarily and
      referenced by ID when creating a dataset. Maximum upload size is 2 GB.
  - name: Datasets
    description: >-
      User-managed tables created from uploaded files or inline data. Unlike connection tables (which mirror remote
      sources), datasets are fully managed and owned by you. Create a dataset from a CSV/JSON/Parquet upload or from
      inline data, then query it with SQL like any other table.
  - name: Saved Queries
    description: >-
      Save, version, and execute named SQL queries. Each update creates a new version, preserving the full history.
      Saved queries are automatically classified by category (e.g., aggregation, join, filtered scan) and can be
      executed by ID.
paths:
  /v1/workspaces:
    get:
      tags:
        - Workspaces
      summary: List workspaces
      description: Lists all workspaces in the user's organization.
      operationId: listWorkspaces
      security:
        - BearerAuth: []
      parameters:
        - name: organization_public_id
          in: query
          required: false
          description: Filter by organization. Defaults to the user's current organization.
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - workspaces
                properties:
                  ok:
                    type: boolean
                    example: true
                  workspaces:
                    type: array
                    items:
                      $ref: '#/components/schemas/WorkspaceListItem'
        '401':
          description: Missing or invalid authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden — not a member of the organization or workspace token used
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      tags:
        - Workspaces
      summary: Create a workspace
      description: Creates a new workspace in the specified organization.
      operationId: createWorkspace
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Name for the new workspace.
                  example: production-analytics
                organization_public_id:
                  type: string
                  description: Target organization. Defaults to the user's current organization.
      responses:
        '201':
          description: Workspace created
          content:
            application/json:
              schema:
                type: object
                required:
                  - ok
                  - workspace
                properties:
                  ok:
                    type: boolean
                    example: true
                  workspace:
                    $ref: '#/components/schemas/WorkspaceDetail'
        '400':
          description: Invalid JSON body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Missing or invalid authorization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Organization not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '422':
          description: Validation error (e.g. name required)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
  /v1/connections:
    get:
      tags:
        - Connections
      summary: List connections
      description: List all registered database connections.
      operationId: list_connections_handler
      responses:
        '200':
          description: List of connections
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListConnectionsResponse'
    post:
      tags:
        - Connections
      summary: Create connection
      description: >-
        Register a new database connection. Provide the source type and connection config (host, port, database, etc.).
        Credentials can be supplied inline (password/token fields are auto-converted to secrets) or by referencing an
        existing secret by name or ID. Schema discovery runs automatically after registration.
      operationId: create_connection_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateConnectionRequest'
        required: true
      responses:
        '201':
          description: Connection created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateConnectionResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: Connection already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/connections/{connection_id}:
    get:
      tags:
        - Connections
      summary: Get connection
      description: Get details for a specific connection, including table and sync counts.
      operationId: get_connection_handler
      parameters:
        - name: connection_id
          in: path
          description: Connection ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Connection details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConnectionResponse'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      tags:
        - Connections
      summary: Delete connection
      description: Delete a connection and its cached data.
      operationId: delete_connection_handler
      parameters:
        - name: connection_id
          in: path
          description: Connection ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Connection deleted
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/connections/{connection_id}/cache:
    delete:
      tags:
        - Connections
      summary: Purge connection cache
      description: >-
        Purge all cached data for a connection. The next query against these tables will trigger a fresh sync from the
        remote source.
      operationId: purge_connection_cache_handler
      parameters:
        - name: connection_id
          in: path
          description: Connection ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Cache purged
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/connections/{connection_id}/health:
    get:
      tags:
        - Connections
      summary: Check connection health
      description: Test connectivity to the remote database. Returns health status and latency.
      operationId: check_connection_health_handler
      parameters:
        - name: connection_id
          in: path
          description: Connection ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Connection health status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectionHealthResponse'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/connections/{connection_id}/tables/{schema}/{table}/cache:
    delete:
      tags:
        - Connections
      summary: Purge table cache
      description: Purge the cached data for a single table. The next query will trigger a fresh sync.
      operationId: purge_table_cache_handler
      parameters:
        - name: connection_id
          in: path
          description: Connection ID
          required: true
          schema:
            type: string
        - name: schema
          in: path
          description: Schema name
          required: true
          schema:
            type: string
        - name: table
          in: path
          description: Table name
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Table cache purged
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/connections/{connection_id}/tables/{schema}/{table}/profile:
    get:
      tags:
        - Connections
      summary: Get table profile
      description: >-
        Get column-level statistics for a synced table. Returns per-column profiles including cardinality, null counts,
        and type-specific details (distinct values for categorical columns, min/max for temporal/numeric, length stats
        for text). Profiles are computed at sync time.
      operationId: get_table_profile_handler
      parameters:
        - name: connection_id
          in: path
          description: Connection ID
          required: true
          schema:
            type: string
        - name: schema
          in: path
          description: Schema name
          required: true
          schema:
            type: string
        - name: table
          in: path
          description: Table name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Column profile statistics
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TableProfileResponse'
        '404':
          description: Table or profile not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/datasets:
    get:
      tags:
        - Datasets
      summary: List datasets
      operationId: list_datasets
      parameters:
        - name: limit
          in: query
          description: 'Maximum number of datasets (default: 100, max: 1000)'
          required: false
          schema:
            type: integer
            minimum: 0
        - name: offset
          in: query
          description: 'Pagination offset (default: 0)'
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: List of datasets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDatasetsResponse'
    post:
      tags:
        - Datasets
      summary: Create dataset
      description: >-
        Create a new dataset from an uploaded file or inline data. The dataset becomes a queryable table under the
        `datasets` schema (e.g., `SELECT * FROM datasets.my_table`). Supports CSV, JSON, and Parquet formats. Optionally
        specify explicit column types.
      operationId: create_dataset
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDatasetRequest'
        required: true
      responses:
        '201':
          description: Dataset created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateDatasetResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: Dataset already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/datasets/{id}:
    get:
      tags:
        - Datasets
      summary: Get dataset
      operationId: get_dataset
      parameters:
        - name: id
          in: path
          description: Dataset ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Dataset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetDatasetResponse'
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      tags:
        - Datasets
      summary: Update dataset
      operationId: update_dataset
      parameters:
        - name: id
          in: path
          description: Dataset ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDatasetRequest'
        required: true
      responses:
        '200':
          description: Dataset updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateDatasetResponse'
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      tags:
        - Datasets
      summary: Delete dataset
      operationId: delete_dataset
      parameters:
        - name: id
          in: path
          description: Dataset ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Dataset deleted
        '404':
          description: Dataset not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/files:
    get:
      tags:
        - Uploads
      summary: List uploads
      operationId: list_uploads
      parameters:
        - name: status
          in: query
          description: Filter by upload status
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of uploads
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUploadsResponse'
    post:
      tags:
        - Uploads
      summary: Upload file
      description: >-
        Upload a file to be used as a dataset source. Send the raw file bytes as the request body with an appropriate
        Content-Type header (e.g., `text/csv`, `application/json`, `application/parquet`). The returned upload ID can be
        passed to POST /v1/datasets to create a queryable table.
      operationId: upload_file
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: array
              items:
                type: integer
                format: int32
                minimum: 0
        required: true
      responses:
        '201':
          description: File uploaded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/information_schema:
    get:
      tags:
        - Information Schema
      summary: List tables
      description: >-
        List discovered tables with optional filtering and pagination. Supports wildcard patterns (SQL %) for schema and
        table name filters. Set include_columns=true to include column definitions (omitted by default).
      operationId: information_schema_handler
      parameters:
        - name: connection_id
          in: query
          description: Filter by connection ID
          required: false
          schema:
            type: string
        - name: schema
          in: query
          description: Filter by schema name (supports % wildcards)
          required: false
          schema:
            type: string
        - name: table
          in: query
          description: Filter by table name (supports % wildcards)
          required: false
          schema:
            type: string
        - name: include_columns
          in: query
          description: 'Include column definitions (default: false)'
          required: false
          schema:
            type: boolean
        - name: limit
          in: query
          description: Maximum number of tables per page
          required: false
          schema:
            type: integer
            minimum: 0
        - name: cursor
          in: query
          description: Pagination cursor from a previous response
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Table metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InformationSchemaResponse'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/queries:
    get:
      tags:
        - Saved Queries
      summary: List saved queries
      operationId: list_saved_queries
      parameters:
        - name: limit
          in: query
          description: Maximum number of results
          required: false
          schema:
            type: integer
            minimum: 0
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: List of saved queries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSavedQueriesResponse'
    post:
      tags:
        - Saved Queries
      summary: Create saved query
      description: >-
        Save a named SQL query. The SQL is stored as version 1 and automatically analyzed for classification metadata
        (category, table count, predicate/join/aggregation flags).
      operationId: create_saved_query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSavedQueryRequest'
        required: true
      responses:
        '201':
          description: Saved query created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedQueryDetail'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/queries/{id}:
    get:
      tags:
        - Saved Queries
      summary: Get saved query
      operationId: get_saved_query
      parameters:
        - name: id
          in: path
          description: Saved query ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Saved query details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedQueryDetail'
        '404':
          description: Saved query not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      tags:
        - Saved Queries
      summary: Update saved query
      description: >-
        Update a saved query. If the SQL changes, a new version is created (previous versions are preserved). Name,
        tags, description, and classification overrides can also be updated.
      operationId: update_saved_query
      parameters:
        - name: id
          in: path
          description: Saved query ID
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSavedQueryRequest'
        required: true
      responses:
        '200':
          description: Saved query updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SavedQueryDetail'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Saved query not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      tags:
        - Saved Queries
      summary: Delete saved query
      operationId: delete_saved_query
      parameters:
        - name: id
          in: path
          description: Saved query ID
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Saved query deleted
        '404':
          description: Saved query not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/queries/{id}/execute:
    post:
      tags:
        - Saved Queries
      summary: Execute saved query
      description: >-
        Execute a saved query. By default runs the latest version. Optionally specify a version number to execute a
        previous version. Returns the same response format as POST /v1/query.
      operationId: execute_saved_query
      parameters:
        - name: id
          in: path
          description: Saved query ID
          required: true
          schema:
            type: string
      requestBody:
        description: Optional version to execute
        content:
          application/json:
            schema:
              oneOf:
                - type: 'null'
                - $ref: '#/components/schemas/ExecuteSavedQueryRequest'
      responses:
        '200':
          description: Query executed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '404':
          description: Saved query not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/queries/{id}/versions:
    get:
      tags:
        - Saved Queries
      summary: List saved query versions
      operationId: list_saved_query_versions
      parameters:
        - name: id
          in: path
          description: Saved query ID
          required: true
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of versions
          required: false
          schema:
            type: integer
            minimum: 0
        - name: offset
          in: query
          description: Pagination offset
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: List of versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSavedQueryVersionsResponse'
        '404':
          description: Saved query not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/query:
    post:
      tags:
        - Query
      summary: Execute SQL query
      description: >-
        Execute a SQL query against all registered connections and datasets. Use standard Postgres-compatible SQL to
        reference tables from any connection using the format `connection_name.schema.table`. Results are returned
        inline and a `result_id` is provided for later retrieval via the Results API.
      operationId: query_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryRequest'
        required: true
      responses:
        '200':
          description: Query executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/query-runs:
    get:
      tags:
        - Query Runs
      summary: List query runs
      operationId: list_query_runs_handler
      parameters:
        - name: limit
          in: query
          description: Maximum number of results
          required: false
          schema:
            type: integer
            minimum: 0
        - name: cursor
          in: query
          description: Pagination cursor
          required: false
          schema:
            type: string
      responses:
        '200':
          description: List of query runs
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListQueryRunsResponse'
  /v1/refresh:
    post:
      tags:
        - Refresh
      summary: Refresh connection data
      description: >-
        Refresh schema metadata or table data. The behavior depends on the request fields:


        - **Schema refresh (all)**: omit all fields — re-discovers tables for every connection.

        - **Schema refresh (single)**: set `connection_id` — re-discovers tables for one connection.

        - **Data refresh (single table)**: set `connection_id`, `schema_name`, `table_name`, and `data: true`.

        - **Data refresh (connection)**: set `connection_id` and `data: true` — refreshes all cached tables. Set
        `include_uncached: true` to also sync tables that haven't been cached yet.
      operationId: refresh_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshRequest'
        required: true
      responses:
        '200':
          description: Refresh completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RefreshResponse'
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
        '404':
          description: Connection not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/results:
    get:
      tags:
        - Results
      summary: List results
      operationId: list_results_handler
      parameters:
        - name: limit
          in: query
          description: 'Maximum number of results (default: 100, max: 1000)'
          required: false
          schema:
            type: integer
            minimum: 0
        - name: offset
          in: query
          description: 'Pagination offset (default: 0)'
          required: false
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: List of results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListResultsResponse'
  /v1/results/{id}:
    get:
      tags:
        - Results
      summary: Get result
      description: >-
        Retrieve a persisted query result by ID. If the result is still being processed, only the status is returned.
        Once ready, the full column and row data is included in the response.
      operationId: get_result_handler
      parameters:
        - name: id
          in: path
          description: Result ID
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Result data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetResultResponse'
        '404':
          description: Result not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/secrets:
    get:
      tags:
        - Secrets
      summary: List secrets
      description: List all stored secrets. Only metadata (name, timestamps) is returned — secret values are never exposed.
      operationId: list_secrets_handler
      responses:
        '200':
          description: List of secrets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListSecretsResponse'
    post:
      tags:
        - Secrets
      summary: Create secret
      description: >-
        Store a new named secret. The value is encrypted at rest and can be referenced by connections for
        authentication. Secret names must be unique.
      operationId: create_secret_handler
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSecretRequest'
        required: true
      responses:
        '201':
          description: Secret created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSecretResponse'
        '409':
          description: Secret already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
  /v1/secrets/{name}:
    get:
      tags:
        - Secrets
      summary: Get secret
      description: Get metadata for a secret. The secret value is never returned.
      operationId: get_secret_handler
      parameters:
        - name: name
          in: path
          description: Secret name
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Secret metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSecretResponse'
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    put:
      tags:
        - Secrets
      summary: Update secret
      operationId: update_secret_handler
      parameters:
        - name: name
          in: path
          description: Secret name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSecretRequest'
        required: true
      responses:
        '200':
          description: Secret updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateSecretResponse'
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
    delete:
      tags:
        - Secrets
      summary: Delete secret
      operationId: delete_secret_handler
      parameters:
        - name: name
          in: path
          description: Secret name
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Secret deleted
        '404':
          description: Secret not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiErrorResponse'
components:
  schemas:
    WorkspaceListItem:
      type: object
      required:
        - public_id
        - name
        - active
        - favorite
        - provision_status
        - namespace
      properties:
        public_id:
          type: string
          example: ws_abc123
        name:
          type: string
          example: production-analytics
        active:
          type: boolean
        favorite:
          type: boolean
        provision_status:
          type: string
          example: provisioned
        namespace:
          type: string
          example: workspace-ws_abc123
    WorkspaceDetail:
      type: object
      required:
        - public_id
        - name
        - provision_status
        - namespace
      properties:
        public_id:
          type: string
          example: ws_abc123
        name:
          type: string
          example: production-analytics
        provision_status:
          type: string
          example: pending
        namespace:
          type: string
          example: workspace-ws_abc123
    Error:
      type: object
      required:
        - error
      properties:
        error:
          type: string
          description: Machine-readable error code.
          example: missing_authorization
    ApiErrorDetail:
      type: object
      description: Error detail within an API error response
      required:
        - message
        - code
      properties:
        code:
          type: string
        message:
          type: string
    ApiErrorResponse:
      type: object
      description: Standard error response body
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/ApiErrorDetail'
    CategoryValueInfo:
      type: object
      description: A distinct value with its frequency count, used in categorical profiles.
      required:
        - value
        - count
      properties:
        count:
          type: integer
          format: int64
          description: Number of occurrences
          minimum: 0
        value:
          description: The distinct value (as a string, or null)
    ColumnDefinition:
      oneOf:
        - type: string
          description: Simple type name (e.g., "VARCHAR", "INT", "DATE")
        - $ref: '#/components/schemas/ColumnTypeSpec'
          description: Detailed specification with type and optional properties
      description: |-
        Column type specification - either a simple type string or detailed spec with properties.

        Simple form: `"VARCHAR"`, `"INT"`, `"DATE"`
        Detailed form: `{ "type": "DECIMAL", "precision": 10, "scale": 2 }`
    ColumnInfo:
      type: object
      description: Column metadata for API responses
      required:
        - name
        - data_type
        - nullable
      properties:
        data_type:
          type: string
        name:
          type: string
        nullable:
          type: boolean
    ColumnProfileDetail:
      oneOf:
        - type: object
          description: |-
            Low-cardinality column (≤200 distinct values). Applies to text and numeric columns.
            Values are sorted by frequency descending.
          required:
            - values
            - type
          properties:
            type:
              type: string
              enum:
                - categorical
            values:
              type: array
              items:
                $ref: '#/components/schemas/CategoryValueInfo'
              description: Distinct values with their counts, ordered by count descending
        - type: object
          description: High-cardinality text column (>200 distinct values).
          required:
            - min_length
            - max_length
            - avg_length
            - type
          properties:
            avg_length:
              type: number
              format: double
              description: Average string length
            max_length:
              type: integer
              format: int64
              description: Longest string length in the column
              minimum: 0
            min_length:
              type: integer
              format: int64
              description: Shortest string length in the column
              minimum: 0
            type:
              type: string
              enum:
                - text
        - type: object
          description: High-cardinality numeric column (>200 distinct values).
          required:
            - min
            - max
            - mean
            - type
          properties:
            max:
              type: string
              description: Maximum value (string to preserve precision for large integers and decimals)
            mean:
              type: number
              format: double
              description: Arithmetic mean
            min:
              type: string
              description: Minimum value (string to preserve precision for large integers and decimals)
            type:
              type: string
              enum:
                - numeric
        - type: object
          description: Date or timestamp column.
          required:
            - min
            - max
            - type
          properties:
            max:
              type: string
              description: Latest value as ISO-8601 string
            min:
              type: string
              description: Earliest value as ISO-8601 string
            type:
              type: string
              enum:
                - temporal
        - type: object
          description: Boolean column.
          required:
            - true_count
            - false_count
            - type
          properties:
            false_count:
              type: integer
              format: int64
              description: Number of false values
              minimum: 0
            true_count:
              type: integer
              format: int64
              description: Number of true values
              minimum: 0
            type:
              type: string
              enum:
                - boolean
      description: |-
        Type-specific column profile detail. The `type` discriminator field determines which
        variant is present. Profile type is chosen based on the column's Arrow data type and
        cardinality:

        - **categorical**: Text or numeric columns with ≤200 distinct values. Lists each value with its frequency.
        - **text**: Text columns with >200 distinct values. Reports string length statistics.
        - **numeric**: Numeric columns with >200 distinct values. Reports min, max, and mean.
        - **temporal**: Date and timestamp columns. Reports min and max as ISO-8601 strings.
        - **boolean**: Boolean columns. Reports true and false counts.
    ColumnProfileInfo:
      type: object
      description: Statistics for a single column.
      required:
        - name
        - data_type
        - null_count
        - null_percentage
        - cardinality
      properties:
        cardinality:
          type: integer
          format: int64
          description: Approximate number of distinct non-null values
          minimum: 0
        data_type:
          type: string
          description: Arrow data type (e.g. "Utf8", "Int32", "Timestamp(Microsecond, Some(\"UTC\"))")
        name:
          type: string
          description: Column name
        null_count:
          type: integer
          format: int64
          description: Number of null values
          minimum: 0
        null_percentage:
          type: number
          format: double
          description: Percentage of null values (0.0 to 100.0)
        profile:
          oneOf:
            - type: 'null'
            - $ref: '#/components/schemas/ColumnProfileDetail'
              description: Type-specific profile detail. Null when the column is all-null or has an unsupported type.
    ColumnTypeSpec:
      type: object
      description: Detailed column type specification with optional properties.
      required:
        - type
      properties:
        geometry_type:
          type:
            - string
            - 'null'
          description: |-
            Geometry type for GEOMETRY/GEOGRAPHY columns.
            E.g., "Point", "LineString", "Polygon", "MultiPoint", "MultiLineString",
            "MultiPolygon", "GeometryCollection", or "Geometry" (any).
        precision:
          type:
            - integer
            - 'null'
          format: int32
          description: Precision for DECIMAL type (1-38)
          minimum: 0
        scale:
          type:
            - integer
            - 'null'
          format: int32
          description: Scale for DECIMAL type
        srid:
          type:
            - integer
            - 'null'
          format: int32
          description: |-
            Spatial Reference System Identifier for GEOMETRY/GEOGRAPHY types.
            Common values: 4326 (WGS84), 3857 (Web Mercator).
        type:
          type: string
          description: The data type name (e.g., "DECIMAL", "TIMESTAMP", "GEOMETRY")
    ConnectionHealthResponse:
      type: object
      description: Response body for GET /connections/{connection_id}/health
      required:
        - connection_id
        - healthy
        - latency_ms
      properties:
        connection_id:
          type: string
        error:
          type:
            - string
            - 'null'
        healthy:
          type: boolean
        latency_ms:
          type: integer
          format: int64
          minimum: 0
    ConnectionInfo:
      type: object
      description: Single connection metadata for API responses
      required:
        - id
        - name
        - source_type
      properties:
        id:
          type: string
        name:
          type: string
        source_type:
          type: string
    ConnectionRefreshResult:
      type: object
      description: Response for connection-wide data refresh
      required:
        - connection_id
        - tables_refreshed
        - tables_failed
        - total_rows
        - duration_ms
        - errors
      properties:
        connection_id:
          type: string
        duration_ms:
          type: integer
          format: int64
          minimum: 0
        errors:
          type: array
          items:
            $ref: '#/components/schemas/TableRefreshError'
        tables_failed:
          type: integer
          minimum: 0
        tables_refreshed:
          type: integer
          minimum: 0
        total_rows:
          type: integer
          minimum: 0
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/RefreshWarning'
    ConnectionSchemaError:
      type: object
      description: Error details for a failed connection schema refresh
      required:
        - connection_id
        - error
      properties:
        connection_id:
          type: string
        error:
          type: string
    CreateConnectionRequest:
      type: object
      description: Request body for POST /connections
      required:
        - name
        - source_type
        - config
      properties:
        config: {}
        name:
          type: string
        secret_id:
          type:
            - string
            - 'null'
          description: |-
            Optional reference to a secret by ID (e.g., "secr_abc123").
            If provided, this secret will be used for authentication.
            Mutually exclusive with `secret_name`.
        secret_name:
          type:
            - string
            - 'null'
          description: |-
            Optional reference to a secret by name.
            If provided, this secret will be used for authentication.
            Mutually exclusive with `secret_id`.
        source_type:
          type: string
    CreateConnectionResponse:
      type: object
      description: Response body for POST /connections
      required:
        - id
        - name
        - source_type
        - tables_discovered
        - discovery_status
      properties:
        discovery_error:
          type:
            - string
            - 'null'
        discovery_status:
          $ref: '#/components/schemas/DiscoveryStatus'
        id:
          type: string
        name:
          type: string
        source_type:
          type: string
        tables_discovered:
          type: integer
          minimum: 0
    CreateDatasetRequest:
      type: object
      description: Request body for POST /v1/datasets
      required:
        - label
        - source
      properties:
        label:
          type: string
        source:
          $ref: '#/components/schemas/DatasetSource'
        table_name:
          type:
            - string
            - 'null'
          description: Optional table_name - if not provided, derived from label
    CreateDatasetResponse:
      type: object
      description: Response body for POST /v1/datasets
      required:
        - id
        - label
        - table_name
        - status
        - created_at
      properties:
        created_at:
          type: string
          format: date-time
        id:
          type: string
        label:
          type: string
        status:
          type: string
        table_name:
          type: string
    CreateSavedQueryRequest:
      type: object
      description: Request body for POST /v1/queries
      required:
        - name
        - sql
      properties:
        description:
          type:
            - string
            - 'null'
        name:
          type: string
        sql:
          type: string
        tags:
          type:
            - array
            - 'null'
          items:
            type: string
    CreateSecretRequest:
      type: object
      description: Request body for POST /secrets
      required:
        - name
        - value
      properties:
        name:
          type: string
        value:
          type: string
    CreateSecretResponse:
      type: object
      description: Response body for POST /secrets
      required:
        - id
        - name
        - created_at
      properties:
        created_at:
          type: string
          format: date-time
        id:
          type: string
        name:
          type: string
    DatasetSource:
      oneOf:
        - type: object
          description: Create from a previously uploaded file
          required:
            - upload_id
          properties:
            columns:
              type:
                - object
                - 'null'
              description: |-
                Optional explicit column definitions. Keys are column names, values are type specs.
                When provided, the schema is built from these definitions instead of being inferred.
              additionalProperties:
                $ref: '#/components/schemas/ColumnDefinition'
              propertyNames:
                type: string
            format:
              type:
                - string
                - 'null'
            upload_id:
              type: string
        - type: object
          description: Create from inline data (small payloads)
          required:
            - inline
          properties:
            inline:
              $ref: '#/components/schemas/InlineData'
      description: Dataset source specification
    DatasetSummary:
      type: object
      description: Dataset summary for listing
      required:
        - id
        - label
        - table_name
        - created_at
        - updated_at
      properties:
        created_at:
          type: string
          format: date-time
        id:
          type: string
        label:
          type: string
        table_name:
          type: string
        updated_at:
          type: string
          format: date-time
    DiscoveryStatus:
      type: string
      description: Discovery status for connection creation
      enum:
        - success
        - skipped
        - failed
    ExecuteSavedQueryRequest:
      type: object
      description: Request body for POST /v1/queries/{id}/execute
      properties:
        version:
          type:
            - integer
            - 'null'
          format: int32
    GetConnectionResponse:
      type: object
      description: Response body for GET /connections/{connection_id}
      required:
        - id
        - name
        - source_type
        - table_count
        - synced_table_count
      properties:
        id:
          type: string
        name:
          type: string
        source_type:
          type: string
        synced_table_count:
          type: integer
          minimum: 0
        table_count:
          type: integer
          minimum: 0
    GetDatasetResponse:
      type: object
      description: Response body for GET /v1/datasets/{id}
      required:
        - id
        - label
        - schema_name
        - table_name
        - source_type
        - created_at
        - updated_at
        - columns
      properties:
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ColumnInfo'
        created_at:
          type: string
          format: date-time
        id:
          type: string
        label:
          type: string
        schema_name:
          type: string
        source_type:
          type: string
        table_name:
          type: string
        updated_at:
          type: string
          format: date-time
    GetResultResponse:
      type: object
      description: |-
        Response body for GET /results/{id}
        Returns status and optionally the result data
      required:
        - result_id
        - status
      properties:
        columns:
          type:
            - array
            - 'null'
          items:
            type: string
        error_message:
          type:
            - string
            - 'null'
        nullable:
          type:
            - array
            - 'null'
          items:
            type: boolean
        result_id:
          type: string
        row_count:
          type:
            - integer
            - 'null'
          minimum: 0
        rows:
          type:
            - array
            - 'null'
          items:
            type: array
            items: {}
        status:
          type: string
    GetSecretResponse:
      type: object
      description: Response body for GET /secrets/{name}
      required:
        - name
        - created_at
        - updated_at
      properties:
        created_at:
          type: string
          format: date-time
        name:
          type: string
        updated_at:
          type: string
          format: date-time
    InformationSchemaResponse:
      type: object
      description: Response body for GET /information_schema
      required:
        - tables
        - count
        - limit
        - has_more
      properties:
        count:
          type: integer
          minimum: 0
        has_more:
          type: boolean
        limit:
          type: integer
          minimum: 0
        next_cursor:
          type:
            - string
            - 'null'
        tables:
          type: array
          items:
            $ref: '#/components/schemas/TableInfo'
    InlineData:
      type: object
      description: Inline data specification
      required:
        - format
        - content
      properties:
        columns:
          type:
            - object
            - 'null'
          description: |-
            Optional explicit column definitions. Keys are column names, values are type specs.
            When provided, the schema is built from these definitions instead of being inferred.
          additionalProperties:
            $ref: '#/components/schemas/ColumnDefinition'
          propertyNames:
            type: string
        content:
          type: string
        format:
          type: string
    ListConnectionsResponse:
      type: object
      description: Response body for GET /connections
      required:
        - connections
      properties:
        connections:
          type: array
          items:
            $ref: '#/components/schemas/ConnectionInfo'
    ListDatasetsResponse:
      type: object
      description: Response body for GET /v1/datasets
      required:
        - datasets
        - count
        - offset
        - limit
        - has_more
      properties:
        count:
          type: integer
          description: Number of datasets returned in this response
          minimum: 0
        datasets:
          type: array
          items:
            $ref: '#/components/schemas/DatasetSummary'
        has_more:
          type: boolean
          description: Whether there are more datasets available after this page
        limit:
          type: integer
          description: Limit used for this request
          minimum: 0
        offset:
          type: integer
          description: Pagination offset used for this request
          minimum: 0
    ListQueryRunsResponse:
      type: object
      description: Response body for GET /query-runs
      required:
        - query_runs
        - count
        - limit
        - has_more
      properties:
        count:
          type: integer
          minimum: 0
        has_more:
          type: boolean
        limit:
          type: integer
          minimum: 0
        next_cursor:
          type:
            - string
            - 'null'
        query_runs:
          type: array
          items:
            $ref: '#/components/schemas/QueryRunInfo'
    ListResultsResponse:
      type: object
      description: Response body for GET /results
      required:
        - results
        - count
        - offset
        - limit
        - has_more
      properties:
        count:
          type: integer
          description: Number of results returned in this response
          minimum: 0
        has_more:
          type: boolean
          description: Whether there are more results available after this page
        limit:
          type: integer
          description: Limit used for this request
          minimum: 0
        offset:
          type: integer
          description: Pagination offset used for this request
          minimum: 0
        results:
          type: array
          items:
            $ref: '#/components/schemas/ResultInfo'
    ListSavedQueriesResponse:
      type: object
      description: Response body for GET /v1/queries
      required:
        - queries
        - count
        - offset
        - limit
        - has_more
      properties:
        count:
          type: integer
          minimum: 0
        has_more:
          type: boolean
        limit:
          type: integer
          minimum: 0
        offset:
          type: integer
          minimum: 0
        queries:
          type: array
          items:
            $ref: '#/components/schemas/SavedQuerySummary'
    ListSavedQueryVersionsResponse:
      type: object
      description: Response body for GET /v1/queries/{id}/versions
      required:
        - saved_query_id
        - versions
        - count
        - offset
        - limit
        - has_more
      properties:
        count:
          type: integer
          minimum: 0
        has_more:
          type: boolean
        limit:
          type: integer
          minimum: 0
        offset:
          type: integer
          minimum: 0
        saved_query_id:
          type: string
        versions:
          type: array
          items:
            $ref: '#/components/schemas/SavedQueryVersionInfo'
    ListSecretsResponse:
      type: object
      description: Response body for GET /secrets
      required:
        - secrets
      properties:
        secrets:
          type: array
          items:
            $ref: '#/components/schemas/SecretMetadataResponse'
    ListUploadsResponse:
      type: object
      description: Response body for GET /v1/files
      required:
        - uploads
      properties:
        uploads:
          type: array
          items:
            $ref: '#/components/schemas/UploadInfo'
    QueryRequest:
      type: object
      description: Request body for POST /query
      required:
        - sql
      properties:
        sql:
          type: string
    QueryResponse:
      type: object
      description: |-
        Response body for POST /query

        Query results are returned immediately along with a `result_id` for later retrieval.
        The actual persistence to storage happens asynchronously in the background.

        To check if a result is ready for SQL queries, poll GET /results/{id} and check `status`:
        - `"processing"`: Persistence is still in progress
        - `"ready"`: Result is available for retrieval and SQL queries
        - `"failed"`: Persistence failed (check `error_message` for details)
      required:
        - query_run_id
        - columns
        - nullable
        - rows
        - row_count
        - execution_time_ms
      properties:
        columns:
          type: array
          items:
            type: string
        execution_time_ms:
          type: integer
          format: int64
          minimum: 0
        nullable:
          type: array
          items:
            type: boolean
          description: |-
            Nullable flags for each column (parallel to columns vec).
            True if the column allows NULL values, false if NOT NULL.
        query_run_id:
          type: string
          description: Unique identifier for the query run record (qrun...).
        result_id:
          type:
            - string
            - 'null'
          description: |-
            Unique identifier for retrieving this result via GET /results/{id}.
            Null if catalog registration failed (see `warning` field for details).
            When non-null, the result is being persisted asynchronously.
        row_count:
          type: integer
          minimum: 0
        rows:
          type: array
          items:
            type: array
            items: {}
        warning:
          type:
            - string
            - 'null'
          description: |-
            Warning message if result persistence could not be initiated.
            When present, `result_id` will be null and the result cannot be retrieved later.
            The query results are still returned in this response.
    QueryRunInfo:
      type: object
      description: Single query run for listing
      required:
        - id
        - status
        - sql_text
        - sql_hash
        - snapshot_id
        - created_at
      properties:
        completed_at:
          type:
            - string
            - 'null'
          format: date-time
        created_at:
          type: string
          format: date-time
        error_message:
          type:
            - string
            - 'null'
        execution_time_ms:
          type:
            - integer
            - 'null'
          format: int64
        id:
          type: string
        result_id:
          type:
            - string
            - 'null'
        row_count:
          type:
            - integer
            - 'null'
          format: int64
        saved_query_id:
          type:
            - string
            - 'null'
        saved_query_version:
          type:
            - integer
            - 'null'
          format: int32
        snapshot_id:
          type: string
        sql_hash:
          type: string
        sql_text:
          type: string
        status:
          type: string
        trace_id:
          type:
            - string
            - 'null'
        warning_message:
          type:
            - string
            - 'null'
    RefreshRequest:
      type: object
      description: Request body for POST /refresh
      properties:
        connection_id:
          type:
            - string
            - 'null'
        data:
          type: boolean
        include_uncached:
          type: boolean
          description: |-
            Controls whether uncached tables are included in connection-wide data refresh.

            - `false` (default): Only refresh tables that already have cached data.
              This is the common case for keeping existing data up-to-date.
            - `true`: Also sync tables that haven't been cached yet, essentially performing
              an initial sync for any new tables discovered since the connection was created.

            This field only applies to connection-wide data refresh (when `data=true` and
            `table_name` is not specified). It has no effect on single-table refresh or
            schema refresh operations.
        schema_name:
          type:
            - string
            - 'null'
        table_name:
          type:
            - string
            - 'null'
    RefreshResponse:
      oneOf:
        - $ref: '#/components/schemas/SchemaRefreshResult'
        - $ref: '#/components/schemas/TableRefreshResult'
        - $ref: '#/components/schemas/ConnectionRefreshResult'
      description: Unified response type for refresh operations
    RefreshWarning:
      type: object
      description: |-
        Non-fatal warning that occurred during a refresh operation.
        Used to report issues like failed deletion scheduling that don't
        prevent the refresh from succeeding.
      required:
        - message
      properties:
        message:
          type: string
        schema_name:
          type:
            - string
            - 'null'
        table_name:
          type:
            - string
            - 'null'
    ResultInfo:
      type: object
      description: Summary of a persisted query result for listing
      required:
        - id
        - status
        - created_at
      properties:
        created_at:
          type: string
          format: date-time
        error_message:
          type:
            - string
            - 'null'
        id:
          type: string
        status:
          type: string
    SavedQueryDetail:
      type: object
      description: Saved query detail (includes latest version's SQL)
      required:
        - id
        - name
        - latest_version
        - sql
        - sql_hash
        - tags
        - description
        - created_at
        - updated_at
      properties:
        category:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        description:
          type: string
        has_aggregation:
          type:
            - boolean
            - 'null'
        has_group_by:
          type:
            - boolean
            - 'null'
        has_join:
          type:
            - boolean
            - 'null'
        has_limit:
          type:
            - boolean
            - 'null'
        has_order_by:
          type:
            - boolean
            - 'null'
        has_predicate:
          type:
            - boolean
            - 'null'
        id:
          type: string
        latest_version:
          type: integer
          format: int32
        name:
          type: string
        num_tables:
          type:
            - integer
            - 'null'
          format: int32
        sql:
          type: string
        sql_hash:
          type: string
        table_size:
          type:
            - string
            - 'null'
        tags:
          type: array
          items:
            type: string
        updated_at:
          type: string
          format: date-time
    SavedQuerySummary:
      type: object
      description: Saved query summary for listing
      required:
        - id
        - name
        - latest_version
        - tags
        - description
        - created_at
        - updated_at
      properties:
        created_at:
          type: string
          format: date-time
        description:
          type: string
        id:
          type: string
        latest_version:
          type: integer
          format: int32
        name:
          type: string
        tags:
          type: array
          items:
            type: string
        updated_at:
          type: string
          format: date-time
    SavedQueryVersionInfo:
      type: object
      description: Single saved query version
      required:
        - version
        - sql
        - sql_hash
        - created_at
      properties:
        category:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        has_aggregation:
          type:
            - boolean
            - 'null'
        has_group_by:
          type:
            - boolean
            - 'null'
        has_join:
          type:
            - boolean
            - 'null'
        has_limit:
          type:
            - boolean
            - 'null'
        has_order_by:
          type:
            - boolean
            - 'null'
        has_predicate:
          type:
            - boolean
            - 'null'
        num_tables:
          type:
            - integer
            - 'null'
          format: int32
        sql:
          type: string
        sql_hash:
          type: string
        table_size:
          type:
            - string
            - 'null'
        version:
          type: integer
          format: int32
    SchemaRefreshResult:
      type: object
      description: Response for schema refresh operations
      required:
        - connections_refreshed
        - connections_failed
        - tables_discovered
        - tables_added
        - tables_modified
      properties:
        connections_failed:
          type: integer
          minimum: 0
        connections_refreshed:
          type: integer
          minimum: 0
        errors:
          type: array
          items:
            $ref: '#/components/schemas/ConnectionSchemaError'
        tables_added:
          type: integer
          minimum: 0
        tables_discovered:
          type: integer
          minimum: 0
        tables_modified:
          type: integer
          minimum: 0
    SecretMetadataResponse:
      type: object
      description: Single secret metadata for API responses
      required:
        - name
        - created_at
        - updated_at
      properties:
        created_at:
          type: string
          format: date-time
        name:
          type: string
        updated_at:
          type: string
          format: date-time
    TableInfo:
      type: object
      description: Single table metadata
      required:
        - connection
        - schema
        - table
        - synced
      properties:
        columns:
          type:
            - array
            - 'null'
          items:
            $ref: '#/components/schemas/ColumnInfo'
        connection:
          type: string
        last_sync:
          type:
            - string
            - 'null'
        schema:
          type: string
        synced:
          type: boolean
        table:
          type: string
    TableProfileResponse:
      type: object
      description: |-
        Column-level statistics for a synced table. Profiles are computed at sync time
        and include per-column cardinality, null counts, and type-specific details.
      required:
        - connection
        - schema
        - table
        - row_count
        - columns
      properties:
        columns:
          type: array
          items:
            $ref: '#/components/schemas/ColumnProfileInfo'
          description: Per-column profile statistics
        connection:
          type: string
          description: Connection name
        row_count:
          type: integer
          description: Total number of rows in the table
          minimum: 0
        schema:
          type: string
          description: Schema name
        synced_at:
          type:
            - string
            - 'null'
          description: When the table was last synced
        table:
          type: string
          description: Table name
    TableRefreshError:
      type: object
      description: Error details for a failed table refresh
      required:
        - schema_name
        - table_name
        - error
      properties:
        error:
          type: string
        schema_name:
          type: string
        table_name:
          type: string
    TableRefreshResult:
      type: object
      description: Response for single table data refresh
      required:
        - connection_id
        - schema_name
        - table_name
        - rows_synced
        - duration_ms
      properties:
        connection_id:
          type: string
        duration_ms:
          type: integer
          format: int64
          minimum: 0
        rows_synced:
          type: integer
          minimum: 0
        schema_name:
          type: string
        table_name:
          type: string
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/RefreshWarning'
    UpdateDatasetRequest:
      type: object
      description: Request body for PUT /v1/datasets/{id}
      properties:
        label:
          type:
            - string
            - 'null'
        table_name:
          type:
            - string
            - 'null'
    UpdateDatasetResponse:
      type: object
      description: Response body for PUT /v1/datasets/{id}
      required:
        - id
        - label
        - table_name
        - updated_at
      properties:
        id:
          type: string
        label:
          type: string
        table_name:
          type: string
        updated_at:
          type: string
          format: date-time
    UpdateSavedQueryRequest:
      type: object
      description: Request body for PUT /v1/queries/{id}
      properties:
        category_override:
          type:
            - string
            - 'null'
          description: Override the auto-detected category. Send `null` to clear (revert to auto).
        description:
          type:
            - string
            - 'null'
        name:
          type:
            - string
            - 'null'
          description: Optional new name. When omitted the existing name is preserved.
        sql:
          type:
            - string
            - 'null'
          description: Optional new SQL. When omitted the existing SQL is preserved.
        table_size_override:
          type:
            - string
            - 'null'
          description: User annotation for table size. Send `null` to clear.
        tags:
          type:
            - array
            - 'null'
          items:
            type: string
    UpdateSecretRequest:
      type: object
      description: Request body for PUT /secrets/{name}
      required:
        - value
      properties:
        value:
          type: string
    UpdateSecretResponse:
      type: object
      description: Response body for PUT /secrets/{name}
      required:
        - name
        - updated_at
      properties:
        name:
          type: string
        updated_at:
          type: string
          format: date-time
    UploadInfo:
      type: object
      description: Single upload info for listing
      required:
        - id
        - status
        - size_bytes
        - created_at
      properties:
        content_type:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        id:
          type: string
        size_bytes:
          type: integer
          format: int64
        status:
          type: string
    UploadResponse:
      type: object
      description: Response body for POST /v1/files
      required:
        - id
        - status
        - size_bytes
        - created_at
      properties:
        content_type:
          type:
            - string
            - 'null'
        created_at:
          type: string
          format: date-time
        id:
          type: string
        size_bytes:
          type: integer
          format: int64
        status:
          type: string
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: Org-scoped API token obtained via CLI login or the dashboard.
    WorkspaceId:
      type: apiKey
      in: header
      name: X-Workspace-Id
      description: Public ID of the target workspace.
